.user-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.right-sidebar {
    position: fixed;
    top: 80px;
    right: 20px; /* 调整右边距 */
    bottom: 20px; /* 底部距离 */
    width: 300px;
    background-color: #4e96df; /* 灰色底色 */
    padding: 20px;
    overflow-y: auto;
    border-radius: 10px; /* 圆角 */
    border: 1px solid #dee2e6; /* 边框 */
}

.sidebar-item {
    margin-bottom: 20px;
}

.sidebar-item a {
    color: #000000; 
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px; 
    border: 1px solid #282828; 
    border-radius: 5px; 
}

.ask-question {
    font-size: larger;
}

.ask-question-btn {
    background-color: #bef90b; 
    border-color: #070707; 
    color: #fff; 
}

.ask-question-btn:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}

.sidebar-divider {
    border-top: 1px solid #171818;
    margin-top: 20px;
    margin-bottom: 20px;
}

.question-box {
    background-color: #faf8f8; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.question-title {
    margin-bottom: 5px;
}

