<!DOCTYPE html>
<html lang="en">

<head lang="en">
    <meta charset="UTF-8" />
    <title> 
        {% block title_block %}
            InsQuire
        {% endblock %}
    </title>
</head>



<body>
    <header>
        {% block header_block %}
            <h1>InsQuire</h1>
        {% endblock %}
    </header>

    <nav>
        {% block nav_block %}
            <ul>
                <li><a href="{% url 'insQuire:index' %}">Home</a></li>
                <li><a href="{% url 'insQuire:all_categories' %}">Browse Categories</a></li>
            </ul>
        {% endblock %}
    </nav>

    <main>
        {% block main_block %}
            <p>Content goes here </p>
        {% endblock %}
    </main>

    <footer>
        {% block footer_block %}
            <p>WAD2 Project by Group 12b</p>
        {% endblock %}
    </footer>
</body>

</html>