{% extends 'insQuire/base.html' %}

{% block title_block %}
 insQuire - Categories
{% endblock %}

{% block main_block %}
    <h2>Browse Categories</h2>
    <p>Below should be a list of all categories.</p>

    <div class="container">
    {% if categories %}
        <ul>
            {% for category in categories %}
            <div class="row align-items-start">
                <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">bla bla bla</p>
                              <a href="{% url 'insQuire:category' category.slugifiedName %}" class="btn btn-primary">{{ category.name }}</a>
                            </div>
                          </div>
                        {% comment %} <!--supposed to show a list of questions below the categories but idk it there is 
                            questions in the population script-->
                        {% for q in questions %}
                        <li><a href="{% url 'insQuire:q' q.questionID %}">{{ q.title }}</a></li>
                        {% endfor %} {% endcomment %}
                </div>
            </div>


            {% endfor %}
        </ul>
    {% else %}
        <p>No categories are available.</p>
    {% endif %}
    </div>

{% endblock %}