{% extends 'insQuire/base.html' %}

{% block title_block %}
 insQuire - Categories
{% endblock %}

{% block main_block %}
    <h2>Browse Categories</h2>
    <p>Below should be a list of all categories.</p>

    {% if categories %}
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'insQuire:category' category.slugifiedName %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No categories are available.</p>
    {% endif %}

{% endblock %}