{% extends 'insQuire/base.html' %}
{% load static %}

{% block Import_block %}
<link href="{% static 'css/categories.css' %}" rel="stylesheet">
{% endblock %}

{% block title_block %}
insQuire - Categories
{% endblock %}

{% block main_block %}


    <h2>Browse Categories</h2>
        
    {% if categories %}
        <div class="row">
            {% for category in categories %}
                {% if forloop.counter0|divisibleby:4 %}
                    </div><div class="row">
                {% endif %}
                <div class="card category-card" style="width: 18rem; margin-left: 3em ; margin-top: 3em; margin-bottom: 3em">
                    <div class="card-body">
                      <h5 class="card-title">{{ category.name }}</h5>
                      <p class="card-text">{{ category.description|truncatewords:10 }}</p>
                      <a href="{% url 'insQuire:category' category.slugifiedName %}" class="card-link">
                        <button class="btn btn-primary" type="submit">View Questions</button>
                      </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No categories are available.</p>
    {% endif %}
{% endblock %}

{% block sidebar_block %}
    <div class="sidebar">
        <div class="sidebar-item">
            {% if user.is_authenticated %}
                <a href="{% url 'insQuire:ask_question' %}">Click here to ask a question</a>
            {% else %}
                <p>Sign up or log in to ask a question</p>
                <a href="{% url 'insQuire:signup' %}">Sign Up</a>
                <a href="{% url 'insQuire:login' %}">Log In</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
