{% extends 'insQuire/base.html' %}

<head>
    {% block title_block %}
        {% if category %}
            {{ category.name }} - InsQuire
        {% else %}
            Category Not Found - InsQuire
        {% endif %}
    {% endblock %}    

</head>


{% block main_block %}
{% load static %}
<script src="{% static 'javascript/javascript.js' %}"></script>

    <h2>{{ category.name }}</h2>

    {% if questions %}
    <div class="row">
        {% for question in questions %}
            {% if forloop.counter0|divisibleby:4 %}
                </div><div class="row">
            {% endif %}
            
            

            <div class="card" style="width: 18rem; margin-left: 3em ; margin-top: 3em; margin-bottom: 3em">
                <div class="card-body">
                  <h5 class="card-title">{{ question.title }}</h5>
                  <p class="card-text">author: {{ question.author|truncatewords:10 }}</p>
                  <p class="card-text">{{ question.content|truncatewords:10 }}</p>
                  <div>
                    <span class="card-text">votes: </span>
                    <span class="card-text" id="votes{{question.id}}">{{ question.votes }}</span>
                  </div>




                    {% if user.is_authenticated %}
                    <div class="btn-group-vertical">
                            <button type="button" id="upvote-button" class="btn btn-link btn-sm" onclick="upVote({{ question.id }})">
                                <img src="{% static "pictures/upvote.png"%}" alt="Upvote" style="width = 30px; height:30px">
                            </button>
                        
                            <button type="button" id="downvote-button" class="btn btn-link btn-sm" onclick="downVote({{ question.id }})">
                                <img src="{% static "pictures/downvote.png"%}" alt="Downvote" style="width = 30px; height:30px">
                            </button>

                        </div>
                        {% else %}
                        <div>
                            <div class="alert alert-primary" role="alert">
                                Please <a href="{% url 'insQuire:login'%}" class="alert-link">Login</a> to vote.
                            </div>

                            <button type="button" class="btn btn-link btn-sm" onclick="notLoggedIn()">
                                <div class="btn-group-vertical">
                                    <img src="{% static "pictures/upvote.png"%}" alt="Upvote" style="width = 30px; height:30px">
                                    <img src="{% static "pictures/downvote.png"%}" alt="Downvote" style="width = 30px; height:30px">
                                </div>
                            </button>
                        </div>
                        {% endif %}
                  <a href="{% url 'insQuire:question' question.id %}" class="card-link">
                    <button class="btn btn-primary" type="submit">View More</button>
                  </a>
                </div>
            </div> 
        {% endfor %}
    </div>
    {% else %}
        <p>No questions found in this category.</p>
    {% endif %}
{% endblock %}

