{% extends 'insQuire/base.html' %}
 {% load staticfiles %}

 {% block title_block %}
 Register
 {% endblock %}

 {% block main_block %}
 <h1>Register for insQuire</h1>
 {% if registered %}
 <strong>thank you for registering!</strong>
 <a href="{% url 'insQuire:index' %}">Return to the homepage.</a><br />
 {% else %}
 <strong>register here!</strong><br />
 <form id="user_form" method="post" action="{% url 'insQuire:register' %}"
 enctype="multipart/form-data">



{{ user_form.as_p }}
 {{ profile_form.as_p }}

 <!-- Provide a button to click to submit the form. -->
  {% csrf_token %}
 <input type="submit" name="submit" value="Register" />
 </form>
 {% endif %}
 {% endblock %}