{% extends 'insQuire/base.html' %}
{% load static %}

{% block Import_block %}
<link href="{% static 'css/register.css' %}" rel="stylesheet">
{% endblock %}
{% block title_block %}
    Register
{% endblock %}

{% block main_block %}
    <div class="registration-container">
        <h1>Register for insQuire</h1>
        <!--if user is registered, a success page will be shown-->
        {% if registered %}
            <div class="success-message">
                <strong>Thank you for registering!</strong>
                <a href="{% url 'insQuire:index' %}">Return to the homepage.</a><br />
            </div>
            <!--if not, the user can register-->
        {% else %}
            <div class="registration-form">
                <strong>Register here!</strong><br />
                <form id="user_form" method="post" action="{% url 'insQuire:register' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ user_form.as_p }}
                    </div>
                    <div class="form-group">
                        <label for="{{ profile_form.picture.id_for_label }}">Profile Picture:</label>
                        {{ profile_form.picture }}
                    </div>
                    <!-- Provide a button to submit the form. -->
                    <input type="submit" name="submit" value="Register" class="btn btn-primary" />
                </form>
            </div>
        {% endif %}
    </div>


{% endblock %}